
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('ballpark.eot');
    src: url('ballpark.eot?#iefix') format('embedded-opentype'),
         url('ballpark.woff') format('woff'),
         url('ballpark.ttf') format('truetype'),
         url('ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('dayrom.eot');
    src: url('dayrom.eot?#iefix') format('embedded-opentype'),
         url('dayrom.woff') format('woff'),
         url('dayrom.ttf') format('truetype'),
         url('dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
#recu
{
  border: 1px black solid;
  border-radius: 5px 5px 5px 5px;
  text-decoration: underline;
}
h3
{
  color: gray;
  text-decoration: underline;
}

#paiment
{
  color: green;
}
.dev a:hover
{
  color: red;
  width:150px;
}

.dev a:visited
{
  color: green;
}

.dev a:active
{
  background-color: green;
}

.dev a:focus
{
  background-color: green;
}

body
{
    background: url('fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('parateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: green;
    border-bottom: 3px solid green ;
}


#banniere_image
{
    margin-top: 15px;
    height: 200px;
    width: 1000px;
    background: url('sanfrancisco.jpg') no-repeat;
    position: center;
    margin-bottom: 10px;

}


.bouton_rouge
{
    height: 25px;
    position: center;
    right: 5px;
    bottom: 5px;
    background: url('fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    display: flex;
    background:  url('ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 2px solid #181818;
    margin-right: 2px;
    width: 180px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}
